body{
    background-color: floralwhite;
    font-size: 87.5%;
    font-family: arial;
    line-height: 1.5;
    text-align: center;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color:darksalmon;
}
a:hover, a:active{
    background-color:indianred;
    color:#FFF;
}
.body{
    clear: both;
    margin: 0 auto;
    width: 75%;
}
.mainheader{
    text-align: center;
}
.mainheader img{
    width: 80%;
    height: auto;
    margin: 2% 0;
    max-height: 100px;
}
.mainheader nav{
    position: relative;
    width: 60%;
    background-color: #78A;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
.mainheader nav ul{
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
.mainheader nav ul li{
    float:center;
    display: inline;
}
.mainheader nav a:link, .mainheader nav a:visited{
    color:#EEF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}
.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited{
    background-color: darksalmon;
    text-shadow: none;
}
.mainheader nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.cozumler{
    display: none;
}
.clc{

}
.cozumler img{
    width: 100%;
    height: auto;
    margin: 2% 0;
    max-height: 400px;
}
.cozumler nav{
    margin-top: 1%;
    text-align: center;
    background-color: #78A;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.cozumler nav ul{
    list-style: none;
    margin: 0 auto;
}
.cozumler nav ul li{
    float:center;
    display: inline;
}
.cozumler nav a:link, .cozumler nav a:visited{
    color:#EEF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}
.cozumler nav a:hover, .cozumler nav a:active, .cozumler nav .active a:link, .cozumler nav .active a:visited{
    background-color: darksalmon;
    text-shadow: none;
}
.cozumler nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content{
    text-align: center;
    padding: 0 10% 0 10%
}
p{
    font-size: 20px;

}
p.anasayfa{
    display: block;
}
p.forum{
    display: none;
}
p.comez{
    display: none;
}
p.basitoll{
    display: none;
}
