body{
    background-color: floralwhite;
    font-size: 87.5%;
    font-family: arial;
    line-height: 1.5;
    text-align: left;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color:darksalmon;
}
a:hover, a:active{
    background-color:indianred;
    color:#FFF;
}
.body{
    clear: both;
    margin: 0 auto;
    width: 70%;
}
.mainheader img{
    width: 100%;
    height: auto;
    margin: 2% 0;
    max-height: 400px;
}
.mainheader nav{
    background-color: #78A;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainheader nav ul{
    list-style: none;
    margin: 0 auto;
}
.mainheader nav ul li{
    float:left;
    display: inline;
}
.mainheader nav a:link, .mainheader nav a:visited{
    color:#EEF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}
 .mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited{
     background-color: darksalmon;
    text-shadow: none;
}
.mainheader nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.maincontent{
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content{
    width:  70%;
    float: left;
}
.topcontent{
    background-color: antiquewhite;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 20px;
}
.bottomcontent{
    background-color: antiquewhite;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}
.post-info{
    font-style: italic;
    color:#999;
    font-size:  120%;
}
h2{
    color:chocolate;
}
.top-sidebar{
    width: 21%;
    float: left;
    background-color: antiquewhite;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 3%;
    margin-top: 20px;
    padding: 2% 3%;
}
.middle-sidebar{
    width: 21%;
    float: left;
    background-color: antiquewhite;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 3%;
    margin-top: 2%;
    padding: 2% 3%;

}
.bottom-sidebar{
    width: 21%;
    float: left;
    background-color: antiquewhite;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 3%;
    margin-top: 2%;
    padding: 2% 3%;
}
.mainfooter{
    width: 100%;
    float: left;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: cadetblue;
    margin: 2% 0;
}
.mainfooter p{
    width: 92%;
    margin: 10px auto;
    color:#FFF;
    border
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
    .body{
        width: 90%;
        font-size: 95%;
    }
    .mainheader img{
        width: 100%;
    }
    .mainheader nav{
        height: 160px;
    }
    .mainheader nav ul{
        padding-left: 0;
    }
    .mainheader nav ul li{
        width: 100%;
        text-align: center;
    }
    .mainheader nav a:link, .mainheader nav a:visited{
        padding: 10px 25px;
        height: 20px;
        display:block;
    }
    .content{
        width:  100%;
        margin-top: 2%;
    }
    .topcontent{
        margin-bottom: 4%;
    }
    .bottomcontent{
        margin-top: 3%;
    }
    .post-info{
        display: none;
    }
    .top-sidebar{
        width: 94%;
        margin: 2% 0 2% 0;
    }
    .middle-sidebar{
        width: 94%;
        margin: 2% 0 2% 0;

    }
    .bottom-sidebar{
        width: 94%;
        margin: 2% 0 2% 0;
    }
}
